fastapi>=0.115.0
uvicorn[standard]>=0.34.0
sqlalchemy[asyncio]>=2.0.36
aiomysql>=0.2.0
cryptography>=42.0.0
pydantic-settings>=2.6.0
httpx>=0.28.0
python-dotenv>=1.0.0
langchain>=0.3.0
langchain-openai>=0.2.0
langchain-community>=0.3.0
#passlib>=1.7.4
#python-jose>=3.5.0
bcrypt>=4.0.0,<5.0.0
pyjwt>=2.8.0  # 替代旧的 python-jose
pyyaml>=6.0
langchain-huggingface>=0.1.0
chromadb>=1.0.0
sentence-transformers>=3.0.0
pypdf>=3.0.0
docx2txt>=0.8